:root{

	--texto: 'Lato', sans-serif;
	--titles: 'Fira Sans', sans-serif;
	--firma: 'Smooch', cursive;

}

*{

	margin: 0;
	padding: 0;

}

a{
	text-decoration: none;
	color: white;
}

body{


}

.heading{
	width: 100%;
	height: auto;
	background:rgba(244, 244, 244,1);
	z-index: 99999;
	position: sticky;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	top: 0;
	justify-content: space-between;
	font-family: var(--texto);

	/*-webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);*/
}

.menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 60%;
}

.menu div{
	margin: 10px;
}

.menu a{
	color: black;
	cursor: pointer;
	font-size: 14px;

}

.menu a:hover{
	color: gray;
}

.logo{

	width: 150px;
	height: 120px;
	

}

.logo img{

	object-fit: contain;
	width: 150px;
	height: 120px;
	
}

.social__networks{
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.social__bottom{
	
	width: 25px;
	height: 25px;
	cursor: pointer;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;

}


.social__bottom img{

	width: 25px;
	height: 25px;
	

}

.social__bottom p{
	float: left;
	margin: 1px;
}

.carrusel__section{
	
	color: black;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	

}

.carrusel__text{
	color: black;
	text-align: center;
	padding: 20px;
	font-family: var(--titles);
	font-size: 40px;
	
	display: flex;
	flex-direction: column;
}

.title{
	font-family: var(--titles);
	font-size: 40px;
	
}

.title-secundary{
	font-family: var(--titles);
	font-size: 30px;
	color: gray;
	margin-left: 10%;
}


.carrusel{
	margin-left: auto;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 1fr;		
}

.carrusel img{
	width: 250px;
	height: 250px;
}

.carrusel .contenedor__carro{
	width: 100%;
	height: 400px;
}

.carrusel .contenedor__carro > img{
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-fit: center center;
}

.products{
	margin: 0 auto;
	margin-top: 10px;
	width: 85%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section__title{
	width: 100%;
	text-align: center;
	font-family: var(--texto);
	font-weight: bold;
	padding: 30px 0;
	font-size: 20px;
}


.carts{

	width: 20%;
	height: 400px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	/*border-radius: 5px;*/
	flex-wrap: wrap;

	/*border-bottom: 1px solid black;*/
	/*-webkit-box-shadow: -1px -2px 48px -16px rgba(0,0,0,0.99);
	-moz-box-shadow: -1px -2px 48px -16px rgba(0,0,0,0.99);
	box-shadow: -1px -2px 48px -16px rgba(0,0,0,0.99);*/
	margin-bottom: 10px;
}

.cart__title{

	width: 100%;
	height: 10%;
	color: black;
	font-family: var(--texto);
	text-align: center;



}

.cart__image{

	width: 100%;
	height: 60%;
	background:rgba(0,0,0,0.2);


}
.cart__image{

	width: 100%;
	height: 60%;
	background:rgba(0,0,0,0.2);


}

.cart__image img{
	-webkit-transition:all 1.9s ease;
	-moz-transition:all 1.9s ease;
	-o-transition:all 1.9s ease;
	-ms-transition:all 1.9s ease;


	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;

}


.cart__image:hover img{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);

	
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;


}

.cart__footer{

	width: 100%;
	height: 30%;
	color: black;
	display: flex;
	flex-direction: column;
	font-family: var(--texto);
	justify-content: space-around;
	align-items: center;
	text-align: center;

}

.about-us{

	font-family: var(--texto);
	font-weight: normal;
	font-size: 20px;
	text-align: justify;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	
}

.about-us__info{
	
	width: 40%;
}

.about-us__image{
	align-self: center;
}

.about-us__image > img{
	width: 400px;
	height: 400px;
	background: black;
}

.info__boton{
	text-align: center;
}

.botones{
	width: 140px;
	height: 65px;
	background:rgba(0,0,0,0.5);
	color: white;
	font-family: var(--texto);
	margin-top: 10px;
	cursor: pointer;
	border: none;
}

.our__services{

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;

}

.carts_serv{

	width: 20%;
	height: 350px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	
	-webkit-box-shadow: -1px -2px 48px -16px rgba(0,0,0,0.99);
	-moz-box-shadow: -1px -2px 48px -16px rgba(0,0,0,0.99);
	box-shadow: -1px -2px 48px -16px rgba(0,0,0,0.99);
	
}

.cartserv__image{

	width: 100%;
	height: 60%;
	background:rgba(0,0,0,0.2);

}


.cartserv__image img{

	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;

}

.form__contact{

	font-family: 'Oswald', sans-serif;
	width: 100%;
	height: auto;
	background:rgba(244, 244, 244,255);
	color: black;
	font-weight: normal;
	margin-top: 20px;
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	justify-content: center;
	padding-top: 30px;

}

.form__content{


}

.brand img{

	width: 150px;
	height: 120px;
	object-fit: contain;

}

.part__form{

	background: red;

}

.cajon__texto
{
	width: 300px;
	height: 30px;
	
}

.cajon__area
{
	width: 300px;
	height: 80px;
	
}

footer{
	width: 100%;
	height: 40px;
	text-align: center;
	font-family: var(--firma);
	font-size: 16px;
	font-weight: normal;
	line-height: 40px;
	color: black;
	bottom: 0;
}




/*responsive*/

/*tablets*/

@media(min-width: 768px) AND (max-width: 1023px)
{

	.carts{

		width: 32%;
		height: 400px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		flex-wrap: wrap;
		/*border: 1px solid black;*/
		/*-webkit-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		*/
	}


	.carts_serv{

		width: 30%;
		height: 350px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		
		/*-webkit-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		*/
	}

	.products{
		width: 100%;
		justify-content: flex-start;
	}

}

/*moviles*/
@media(min-width: 320px) AND (max-width: 767px)
{

	.section__title{
		width: 100%;
		text-align: center;
		font-family: var(--texto);
		font-weight: bold;
		padding: 30px 0;
		font-size: 15px;
	}

	.carts{

		width:46%;
		height: 400px;
		display: flex;
		flex-direction: row;
		border-radius: 5px;
		flex-wrap: wrap;
		/*border: 1px solid black;*/
		/*-webkit-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		*/
	}

	.carts_serv{

		width: 75%;
		height: 350px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		
		/*-webkit-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
		*/
	}

	.about-us__info{
		
		width: 90%;
	}

	.products{
		width: 100%;
		justify-content: flex-start;
	}

	.carrusel{
		grid-template-rows: 1fr 1fr 1fr;
   		grid-template-columns: 1fr;
	}

}


/********ADMIN********/

h2{
	font-family: var(--titles);
}

.box{
	background-color:#e2e2e2; 
	z-index: 2; 
	border-radius: 5px;
	color: black;
	border: 1px solid gray;
	
}

.box label{
	font-size

}

input[type=text]{
	font-size: 11px;
	font-family: var(--texto);
}

select{
	font-size: 12px;
	font-family: var(--texto);
}
.brand{
	font-family: var(--firma);
	font-size: 25px;

	
}

.container-fluid{
	background: rgba(244, 244, 244,1);
}

#table-productos{
	width: 100vw;
}

